xml/specimen_form_schema.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="specimen">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="meta">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element type="xs:dateTime" name="add_date"/>
                            <xs:element type="xs:string" name="user"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="taxonomy">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element type="xs:string" name="phylum"/>
                            <xs:element type="xs:string" name="subphylum"/>
                            <xs:element type="xs:string" name="class"/>
                            <xs:element type="xs:string" name="order"/>
                            <xs:element type="xs:string" name="family"/>
                            <xs:element type="xs:string" name="genus"/>
                            <xs:element type="xs:string" name="species"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="location">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element type="xs:date" name="collectDate"/>
                            <xs:element type="xs:string" name="site"/>
                            <xs:element type="xs:string" name="country"/>
                            <xs:element type="xs:string" name="region"/>
                            <xs:element type="xs:float" name="north"/>
                            <xs:element type="xs:float" name="south"/>
                            <xs:element type="xs:float" name="east"/>
                            <xs:element type="xs:float" name="west"/>
                            <xs:element type="xs:float" name="depth"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>